/* 引入 Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

page {
  font-size: 28px;
  background-color: #eff6ff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}
